html, body{
    height:     100%;
    margin:     0;
    padding:    0;
}

#map {
	min-height: 400px;
	height: 90%;
	width: 	49%;
	min-width: 400px!important;
	margin-left: auto;
	margin-right: auto;
}
#compassImg {
	width: 200px;
	height: 200px;
}
#distance{
	font-weight: bold;
}
#loadingScreen {
	position: absolute!important;
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 1005;
	opacity: 0.6;
}

.ui-panel {
	z-index: 1002!important;
}

.error-text {
	color: red;
}

.custom-distance-base-pos {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 100px;
	width: 30%;
	text-align: center;
}

.custom-circle{
	position: relative;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: black;

}

.custom-compass-base-pos {
	width: 50%;
	height: 100px;
	margin-right: auto!important;
	margin-left: auto!important;
}

.custom-compass-pos {
	margin-left: auto;
	margin-right: auto;
	z-index: 1003;
}

.custom-nav-btn-pos {
	position: absolute!important;
	bottom: 16px!important;
	right: 16px!important;
	z-index: 1001!important;
	display: inline-block!important;
}


