html, body{
    height:     100%;
    margin:     0;
    padding:    0;
}

#map {
	min-height: 200px;
	height: 90%;
	width: 	70%;
	min-width: 300px!important;
	margin-left: auto;
	margin-right: auto;
}
.compass-img {
	width: 200px;
	height: 200px;
}
.compass-img-tab {
	width: 100%;
	height: 100%;
	max-width: 300px!important;
	max-height: 300px!important;
}

#distance{
	font-weight: bold;
}

#loadingScreen {
	position: absolute!important;
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 1005;
	opacity: 0.6;
}

.ui-panel {
	z-index: 1002!important;
}

.error-text {
	color: red;
}

.testBox {
	background-color: coral;
	width: 40%;    
	min-width: 400px;
	float:left;
	margin:10px;
	border-radius:5px;
	text-align: center;
}

.custom-distance-base-pos {
	background-color: coral;
	color: black;
	font-family: sans-serif;
	border-radius: 5px;
	margin-left: auto!important;
	margin-right: auto!important;
	margin: 10px;
	padding: 5px;
	min-width: 180px;
	width: 30%;
	text-align: center;
}

.custom-compass-base-pos {
	width: 80%;
	height: 40%;
	margin-right: auto!important;
	margin-left: auto!important;
}


.custom-circle{
	position: relative;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: black;
}

.custom-circle-tab {
	position: relative;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background: black;
}



.custom-compass-pos {
	margin-left: auto;
	margin-right: auto;
	z-index: 1003;
}

.custom-nav-btn-pos {
	position: absolute!important;
	bottom: 16px!important;
	right: 16px!important;
	z-index: 1001!important;
}

.in-line-block {
	display:inline-block;
	vertical-align: top;
}


